.schedule {
  text-align: center;
  justify-content: center;
}

.schedule .day {
  border: 1px solid black;
  width: 50px;
  margin: auto;
  padding: 13px 15px;
  background-color: lightcoral;
  color: white;
  border-radius: 10px 10px 0px 0px;
}

.schedule span {
  display: block;
  width: 50px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin: auto;
  padding: 13px 15px;
}

.schedule span:last-child {
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 6px 16px -6px rgba(0, 0, 0, 0.025),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 13px 27px -5px rgba(50, 50, 93, 0.25);
}

.info {
  color: gray;
  margin-top: 100px;
  margin-left: 15px;
}
